# Common Configuration
NODE_ENV='development'

# Shell Configuration
SHELL_PORT='3333'
SHELL_CORS_ORIGIN='*'

# Microfrontend One Configuration
MICROFRONTEND_ONE_PORT='3334'
MICROFRONTEND_ONE_CORS_ORIGIN='*'